// Global Styles
body {
    background-image: radial-gradient(circle farthest-corner at top right, #59c8ff 14%, #008bff 50%, #0058e7 100%) !important;
    background-size: cover;
    background-color: $background-color;
    color: $text-color;
    font-family: $font-family;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
  
  // Hero Section
  .hero-section {
    margin: auto;}