$primary-color: #d97530;
$secondary-color: #452d20;
$background-color: #cdc5af;
$font-family: 'Montserrat', sans-serif;
$widget-bg: #ffffff;
$widget-border: rgba(184, 171, 133, 0.89);
$widget-shadow: rgba(184, 171, 133, 0.2);
$text-color: #1e2657;
$footer-bg: #b8ab85;
$footer-color: #ffffff;
$modal-bg: #fff8e6;