.modal-header {
    background-color: $third-color;
    color: #fff;
    font-weight: 600;
}
.modal-body {
    background-color: $primary-color;
    color: #1e2657;
}
.modal-footer {
    background-color: $primary-color;
}
.modal-footer .btn {
    background-color: $third-color;
    color: #fff;
    width: 100%;
    padding: 10px;
}

.modal-footer span {
    font-size: 0.8rem;
    color: #424242;
            }