.modal-header {
    background-color: #d97530;
    color: #fff;
    font-weight: 600;
}
.modal-body {
    background-color: #fff8e6;
    color: #1e2657;
}
.modal-footer {
    background-color: #f7f2de;
}
.modal-footer .btn {
    background-color: #d97530;
    color: #fff;
    width: 100%;
    padding: 10px;
}

.modal-footer span {
    font-size: 0.8rem;
    color: #424242;
            }