// Widget
.widget-pesan {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  max-width: 98%;
  margin: 0 auto;

  .widget-body {
    flex: 1;
    overflow-y: scroll;
    max-height: 580px;
    padding: 30px 15px 0;

    // Custom Scrollbar
  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    background: $primary-color;
  }

  &::-webkit-scrollbar-thumb {
    background: $third-color;
    border-radius: 4px;

    &:hover {
      background: $primary-color;
    }
  }
  

    .message {
      margin: 0 10px 35px 0;
      background-color: $widget-bg;
      border-radius: 10px;
      border: 1px solid $widget-border;
      box-shadow: 10px 10px 0px 4px $widget-shadow;
      padding: 15px;
      position: relative;

      &:before {
        content: "\201C";
        font-size: 8rem;
        color: $third-color;
        position: absolute;
        top: -65px;
        left: -20px;
        font-weight: 600;
      }

      blockquote {
        margin: 0;
        padding: 0 0 0 20px;
        color: $third-color;
        font-size: 1rem;
      }

      p {
        margin: 6px 0 0;
        text-align: right;
        font-size: 1rem;
        font-weight: bold;
        color: $third-color;
      }
    }
  }

  #load-more {
    font-size: 1rem;
    color: white;
    font-weight: 600;
    padding-bottom: 24px;
    text-decoration: none;
}
 

  @include respond-to(medium) {
    & {
      max-height: 400px;
    }
  }
}

// Buttons
.send-hope-button {
  background-color: $third-color;
  color: $footer-color;
  font-size: 1rem;
  font-weight: bold;
  padding: 15px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  gap: 10px;
  animation: pulse 2s infinite;

  &:hover {
    background-color: darken($primary-color, 10%);
  }

  
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.97);
    }
    100% {
        transform: scale(1);
    }
}