// Countdown Section
.countdown-section {
  text-align: left;
  color: $text-color;
  padding: 30px;

  .logo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin-bottom: 10px;
  
    .left-logo {
      justify-self: start;
      width: 200px;
    }
  
    .right-logo {
      justify-self: end;
      width: 120px;
    }
  
    @include respond-to(medium) {
      .left-logo {
        width: 160px;
      }
  
      .right-logo {
        width: 86px;
      }
    }
  }

  h1 {
    font-size: 2.5rem;
    font-weight: 800;
    margin-bottom: 10px;
    color: white;
  }

  p {
    font-size: 1.2rem;
    margin-bottom: 20px;
    font-weight: 600;
    color: white;
    
  }

  .deskripsi {
    font-size: 1rem;
    font-weight: 400;
    color: white;
  }

  .hitung-mundur {

    background: linear-gradient(135deg, #64b5f6, #1e88e5);
    padding: 20px;
    border-radius: 20px;

  .label img {
    display: block;
    width: 160px;
    margin-bottom: -6px;
  }

  .time {
    font-size: 2rem;
    font-weight: 700;
    display: flex;
    justify-content: start;
    gap: 50px;

    div {
      text-align: center;

      span {
        display: block;
      }
    }
  }

  .time-number {
    font-size: 3rem;
    color: white;
  }

  .time-label {
    font-size: 1rem;
    color: white;
    position: relative;
    top: -10px;
    text-align: left;
  }


  @include respond-to(medium) {
    h1 {
      font-size: 1.8rem;
    }

    .time {
      gap: 30px;
    }

    .time-number {
      font-size: 2rem;
    }
  }
}
  
  .hitung-mundur .rotating-image {
    position: absolute;
    top: 52%;
    left: 45%; /* Pusatkan horizontal */
    transform: translate(-50%, -50%); /* Koreksi posisi ke tengah */
    width: 150px; /* Ukuran gambar */
    height: 150px; /* Ukuran gambar */
    opacity: 0.6; /* Transparansi untuk menyesuaikan elemen di bawahnya */
    z-index: 0; /* Pastikan gambar berada di bawah teks */
    animation: rotate 10s linear infinite; /* Animasi rotasi */

    img {
      width: 150px;
      @include respond-to(medium) {
        width: 100px;
      }
    }

    @include respond-to(medium) {
      top: 50%;
      left: 85%;
      width: 100px;
      height: 100px;
    }
  }
  
  .hitung-mundur .time,
  .hitung-mundur .label {
    position: relative; /* Pastikan teks berada di atas gambar */
    z-index: 1;
  }
  
  /* Animasi untuk rotasi */
  @keyframes rotate {
    from {
      transform: translate(-50%, -50%) rotate(0deg);
    }
    to {
      transform: translate(-50%, -50%) rotate(360deg);
    }
  }
}

